<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Boards.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Build.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Clean.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Distribute.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Document.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Fast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Index.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Make.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Serial.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Upload.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D983B2C71867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2C81867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2C91867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CA1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CB1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CC1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CD1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CE1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2CF1867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2D01867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2D11867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983B2D31867A97700CF5B52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
